<div class="container">
{{#each resource in model}}
   {{#link-to 'resource' resource}}
       <h4>{{resource.title}}</h4> 
   {{/link-to}}
       <p>{{resource.topic}}</p>
       <p>{{resource.url}}</p>
{{/each}}
</div>