<div class="container col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <h1>Welcome to the Flybrary</h1>
    <p>Sign in to browse, save and add resources.</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>
</div>